<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBaseİşlemleri.Properties.Settings.ImportbutprojeyeeklenmeyecekConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Volkan\OneDrive\Uygulama Geliştirme\Visual Studio\Örnekler\Importbutprojeyeeklenmeyecek.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="DataBaseİşlemleri.Properties.Settings.ImportbutprojeyeeklenecekConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Importbutprojeyeeklenecek.accdb"
            providerName="System.Data.OleDb" />
        <add name="DataBaseİşlemleri.Properties.Settings.OrnekConnectionStringNoYedeklionlyImport"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Volkan\OneDrive\Uygulama Geliştirme\Visual Studio\Örnekler\Ornek.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="DataBaseİşlemleri.Properties.Settings.seda_firma_2004_ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Volkan\OneDrive\Uygulama Geliştirme\access\seda firma 2004 .mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="DataBaseİşlemleri.Properties.Settings.veri_tabanıConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Volkan\OneDrive\Uygulama Geliştirme\access\veri tabanı.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>